.js{
    color: rgb(95, 81, 221);
}
/* .marvel{ 
    background-color: rgb(95, 222, 120);
 } */
.js{
    background-color: beige;
}
.robin{
    background-color: rgb(211, 113, 190);
}
#batman{
    color: rgb(223, 238, 58);
}